@import "~/src/scss/index.scss";

.users-page {
  &__add {
    position: absolute !important;
    right: 0;
    top: 0;
    margin-top: 10px !important;
    z-index: 2;
  }
  &__forms {
    .tab-menu {
      justify-content: center;
      background-color: #fff;
      font-size: 18px;
      text-transform: capitalize;
      color: $text-dark;
    }

    .MuiTabs-indicator {
      height: 3px;
    }
    .panel {
      background-color: #fff;
      width: 450px;
    }
  }
}
