@import "~/src/scss/index.scss";

.auth {
  background-image: url("../../../assets/jpg/auth-bg.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;

  .logo {
    width: 200px;
    margin-bottom: 30px;
  }

  &__forms {
    width: 450px;

    .tab-menu {
      width: 50%;
      justify-content: center;
      background-color: #fff;
      font-size: 18px;
      text-transform: capitalize;
      color: $text-dark;
    }

    .MuiTabs-indicator {
      top: 0;
      height: 3px;
    }
  }
  .panel {
    background-color: #fff;
    width: 450px;
  }
}
